/* @media screen and (max-width: 600px) {
  .spots {
    grid-template: auto / 1fr;
  }

  .spots__map-half {
    display: none;
  }
} */

@media screen and (min-width: 600px) {
  .spots__cards-half {
    grid-template: repeat(10, auto) / repeat(2, 1fr);
  }

  .spot-card:nth-child(1),
  .spot-card:nth-child(2) {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .spots__cards-half {
    grid-template: repeat(10, auto) / repeat(3, 1fr);
  }

  .spot-card:nth-child(1),
  .spot-card:nth-child(2),
  .spot-card:nth-child(3) {
    padding-top: 0;
  }
}

@media screen and (min-width: 1800px) {
  .spots__cards-half {
    grid-template: repeat(10, auto) /  repeat(4, 1fr);
  }

  .spot-card:nth-child(1),
  .spot-card:nth-child(2),
  .spot-card:nth-child(3),
  .spot-card:nth-child(4) {
    padding-top: 0;
  }
}
