.spot {
  padding: 0 var(--padding-not-home);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--spot-text-color);
}
.spot * {
  /* border: 1px dashed tomato; */
}

.spot__content {
  width: 100%;
  display: grid;
  grid-template: auto / 1fr 300px;
  max-width: var(--narrow-view-max-width);
}

.spot__details {
  padding: 30px 30px 0 0;
}

.spot-raw {
  overflow: scroll;
}

.spot__host-desc {
  padding: 20px 0;
  display: flex;
}

.spot__feature-cards {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
