:root {
  --theme1: #796999
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 70px auto / auto ;
}

.main-nav-wrapper,
.main-view-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-nav,
.main-view {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 72px;
}
