:root {
  --theme1: rgb(50, 25, 75);
  --theme2: rgb(162, 104, 255);
  --theme2-vals: 134, 102, 187;
  --background: rgb(243, 242, 239);
  --background-darker: rgb(235, 234, 229);
  --border: rgb(219, 215, 223);

  --padding-not-home: 30px;

  --narrow-view-max-width: 1280px;
  --narrow-view-padding: 72px;

  --spot-text-color: rgb(51, 51, 51);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  background-color: var(--background);
}

h1, h2 {
  color: var(--theme1);
}

input, select, option {
  font-size: 20px;
  /* color: rgb(60, 60, 60) */
}

img.x-form-date-trigger {
  display: none;
}

#root {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template: 70px auto / auto ;
}

.main-nav-wrapper,
.main-view-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-nav,
.main-view {
  width: 100vw;
  height: 100%;
  max-width: var(--narrow-view-max-width);
  padding: 0 var(--narrow-view-padding) var(--narrow-view-padding);
}

.submit-button {
  color: white;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--theme2);
  background-color: var(--theme2);
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--theme2);
  transition-duration: 0.2s;
}
