:root {
  --theme1: rgb(40, 20, 60);
  --theme2: rgb(134, 102, 187);
  --background: rgb(243, 242, 239);
  --background-darker: rgb(235, 234, 229);
  --border: rgb(225, 221, 230);
  --padding-not-home: 30px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  background-color: var(--background);
}

h1, h2 {
  color: var(--theme1);
}

input, select, option {
  font-size: 20px;
  /* color: rgb(60, 60, 60) */
}

img.x-form-date-trigger {
  display: none;
}

#root {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template: 70px auto / auto ;
}

.main-nav-wrapper,
.main-view-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-nav,
.main-view {
  width: 100vw;
  height: 100%;
  max-width: 1280px;
  padding: 0 72px;
}
