.spot-card {
  height: 400px;
  width: 100%;
  padding: var(--padding__standard);
}

.spot-card__main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.spot-card__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}

.spot-card__image {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.spot-card__details {
  height: 40%;
  width: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
}

.spot-card__name-div {
  font-size: 20px;
  font-weight: 500;
  padding-top: 6px;
}

.spot-card__price-host-div {
  display: flex;
  justify-content: space-between;
}

.spot-card__host {
  color: gray;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  font-size: 12px;
}

.spot-card__host > p {
  display: block;
  margin: 0;
}

.spot-card__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.spot-card__price > p:nth-child(1) {
  font-size: 18px;
  margin: 0;
}

.spot-card__price > p:nth-child(2) {
  font-size: 12px;
  margin: 0 0 2px 0;
}
