.logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-image {
  display: block;
  height: 30px;
  width: 21px;
  margin-left: 4px;
  margin-right: 4px;
  background-image: url('../../assets/images/logo-color.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-text {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 35px;
  color: black;
  text-decoration: none;
  border: none;
  color: var(--theme1)
}
