.main-nav-bar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  grid-template-areas:
    "home . links";
}

.main-nav-bar__home {
  grid-area: home;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-nav-bar__links {
  grid-area: links;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
