.navigation__icon {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__icon:hover {
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 80px;
  /* right: 15px; */
  border: 1px solid var(--border);
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 2px;
  z-index: 999;
}

.profile-dropdown__triangle-gray {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid var(--border);
  position: absolute;
  top: -28px;
  right: 6px;
}

.profile-dropdown__triangle-white {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  right: -15px;
  top: 10px;
}

.profile-dropdown > div {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.profile-dropdown > div > p {
  margin: 0;
}

.profile-dropdown > div > p:nth-child(1) {
  font-weight: bold;
}

.profile-dropdown > div:last-child {
  padding-bottom: 0;
}

.profile-dropdown > div:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navigation__icon-inner {
  width: 50%;
  height: 50%;
  background-image: url('../../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__icon-inner-color {
  background-image: url('../../assets/images/logo-color-bright.png');
}
